.sourceCode .hll {
  background-color: #ffffcc;
}
.sourceCode {
  background: #282828;
  color: #ebdbb2;
  background-color: #282828;
}
.sourceCode .c {
  color: #928374;
  font-style: italic;
  background-color: #282828;
} /* Comment */
.sourceCode .err {
  color: #ebdbb2;
  background-color: #282828;
} /* Error */
.sourceCode .esc {
  color: #ebdbb2;
  background-color: #282828;
} /* Escape */
.sourceCode .g {
  color: #ebdbb2;
  background-color: #282828;
} /* Generic */
.sourceCode .kw {
  color: #fe8019;
  background-color: #282828;
} /* Keyword */
.sourceCode .l {
  color: #ebdbb2;
  background-color: #282828;
} /* Literal */
.sourceCode .n {
  color: #ebdbb2;
  background-color: #282828;
} /* Name */
.sourceCode .o {
  color: #fe8019;
  background-color: #282828;
} /* Operator */
.sourceCode .x {
  color: #ebdbb2;
  background-color: #282828;
} /* Other */
.sourceCode .p {
  color: #ebdbb2;
  background-color: #282828;
} /* Punctuation */
.sourceCode .ch {
  color: #928374;
  font-style: italic;
  background-color: #282828;
} /* Comment.Hashbang */
.sourceCode .cm {
  color: #928374;
  font-style: italic;
  background-color: #282828;
} /* Comment.Multiline */
.sourceCode .cp {
  color: #8ec07c;
  background-color: #282828;
} /* Comment.Preproc */
.sourceCode .c1 {
  color: #928374;
  font-style: italic;
  background-color: #282828;
} /* Comment.Single */
.sourceCode .cs {
  color: #928374;
  font-style: italic;
  background-color: #282828;
} /* Comment.Special */
.sourceCode .gd {
  color: #282828;
  background-color: #fb4934;
} /* Generic.Deleted */
.sourceCode .ge {
  color: #83a598;
  text-decoration: underline;
  background-color: #282828;
} /* Generic.Emph */
.sourceCode .gr {
  color: #ebdbb2;
  font-weight: bold;
  background-color: #fb4934;
} /* Generic.Error */
.sourceCode .gh {
  color: #b8bb26;
  font-weight: bold;
  background-color: #282828;
} /* Generic.Heading */
.sourceCode .gi {
  color: #282828;
  background-color: #b8bb26;
} /* Generic.Inserted */
.sourceCode .go {
  color: #504945;
  background-color: #282828;
} /* Generic.Output */
.sourceCode .gp {
  color: #ebdbb2;
  background-color: #282828;
} /* Generic.Prompt */
.sourceCode .gs {
  color: #ebdbb2;
  background-color: #282828;
} /* Generic.Strong */
.sourceCode .gu {
  color: #b8bb26;
  font-weight: bold;
  background-color: #282828;
} /* Generic.Subheading */
.sourceCode .gt {
  color: #ebdbb2;
  font-weight: bold;
  background-color: #fb4934;
} /* Generic.Traceback */
.sourceCode .kc {
  color: #fe8019;
  background-color: #282828;
} /* Keyword.Constant */
.sourceCode .kd {
  color: #fe8019;
  background-color: #282828;
} /* Keyword.Declaration */
.sourceCode .kn {
  color: #fe8019;
  background-color: #282828;
} /* Keyword.Namespace */
.sourceCode .kp {
  color: #fe8019;
  background-color: #282828;
} /* Keyword.Pseudo */
.sourceCode .kr {
  color: #fe8019;
  background-color: #282828;
} /* Keyword.Reserved */
.sourceCode .kt {
  color: #fabd2f;
  background-color: #282828;
} /* Keyword.Type */
.sourceCode .ld {
  color: #ebdbb2;
  background-color: #282828;
} /* Literal.Date */
.sourceCode .m {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number */
.sourceCode .s {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String */
.sourceCode .na {
  color: #b8bb26;
  font-weight: bold;
  background-color: #282828;
} /* Name.Attribute */
.sourceCode .nb {
  color: #fabd2f;
  background-color: #282828;
} /* Name.Builtin */
.sourceCode .nc {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Class */
.sourceCode .no {
  color: #d3869b;
  background-color: #282828;
} /* Name.Constant */
.sourceCode .nd {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Decorator */
.sourceCode .ni {
  color: #fabd2f;
  background-color: #282828;
} /* Name.Entity */
.sourceCode .ne {
  color: #fb4934;
  background-color: #282828;
} /* Name.Exception */
.sourceCode .nf {
  color: #fabd2f;
  background-color: #282828;
} /* Name.Function */
.sourceCode .nl {
  color: #fb4934;
  background-color: #282828;
} /* Name.Label */
.sourceCode .nn {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Namespace */
.sourceCode .nx {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Other */
.sourceCode .py {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Property */
.sourceCode .nt {
  color: #fb4934;
  background-color: #282828;
} /* Name.Tag */
.sourceCode .nv {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Variable */
.sourceCode .ow {
  color: #fe8019;
  background-color: #282828;
} /* Operator.Word */
.sourceCode .w {
  color: #ebdbb2;
  background-color: #282828;
} /* Text.Whitespace */
.sourceCode .mb {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number.Bin */
.sourceCode .mf {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number.Float */
.sourceCode .mh {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number.Hex */
.sourceCode .mi {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number.Integer */
.sourceCode .mo {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number.Oct */
.sourceCode .sb {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Backtick */
.sourceCode .sc {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Char */
.sourceCode .sd {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Doc */
.sourceCode .s2 {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Double */
.sourceCode .se {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Escape */
.sourceCode .sh {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Heredoc */
.sourceCode .si {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Interpol */
.sourceCode .sx {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Other */
.sourceCode .sr {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Regex */
.sourceCode .s1 {
  color: #b8bb26;
  background-color: #282828;
} /* Literal.String.Single */
.sourceCode .ss {
  color: #83a598;
  background-color: #282828;
} /* Literal.String.Symbol */
.sourceCode .bp {
  color: #fabd2f;
  background-color: #282828;
} /* Name.Builtin.Pseudo */
.sourceCode .vc {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Variable.Class */
.sourceCode .vg {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Variable.Global */
.sourceCode .vi {
  color: #ebdbb2;
  background-color: #282828;
} /* Name.Variable.Instance */
.sourceCode .il {
  color: #d3869b;
  background-color: #282828;
} /* Literal.Number.Integer.Long */
